<!DOCTYPE html>
<html>
<head>
    <title>List of Banks</title>
</head>
<body>
    <h1>List of Banks</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Location</th>
            </tr>
        </thead>
        <tbody>
            {% for bank in banks %}
            <tr>
                <td>{{ bank[0] }}</td>
                <td>{{ bank[1] }}</td>
                <td>{{ bank[2] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
